# Nac
*.DS_Store
*.log
*.tsbuildinfo

# Yarn berry / npm
.pnp.*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/packge-lock.json
**/node_modules/

# build
**/dist/*
dist

# nx
.nx
*storybook.log